{{#each this.featuredTagTopics as |item|}}
  <div class="featured-item">
    <a href="{{item.url}}">
      <img src="{{item.image_url}}" alt="{{item.title}}">
      <h3>{{item.title}}</h3>
      {{#if (eq item.type "category")}}
        <p>Category</p>
      {{else}}
        <p>Topic</p>
      {{/if}}
    </a>
  </div>
{{/each}}
